@font-face {
    font-family: Mario;
    src: url('SuperMario256.ttf') format('woff2');
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    width: 100%;
    background: url('./mario.png') no-repeat center center/cover;
    height: 100vh;
}


#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid yellow;
}

#nav ul {
    display: flex;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: 'Mario';
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
}

ul li {
    list-style: none;    
}

#nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    color:rgb(197, 224, 247);
}

.nav_item {
    padding: 10px;
}

img {
    height: 60px;
}

/* Home Body Section */
#body {
    padding: 20px;
    margin-top: 20px;
}

.homeTitle {
    padding-left: 150px;
    width: 1000px;
    margin-bottom: 100px;
    font-style: italic;
    font-size: 5rem;
    color: white;
    text-align: left;
}

/* About Body Section */

.aboutBody {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.about_feature {
    height: auto;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.about_text h2 {
    font-family: 'Mario';
    color: #333 ;
    font-size: 2rem;
    text-align: center;
}

.about_text div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 20px;
}

.about_text div img {
    height: 500px;
    margin-left: 50px;
}

.about_text div p {
    color: #333;
    font-size: 1.5rem;
}

/* Menu Page */
.menu_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Mario';
}

.item img {
    height: 300px;
    margin-top: 30px;
}

#footer {  
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #fff;
   
    
}

